<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Dados de temperatura</title>
        <meta name="description" content="Chart with PI Web API">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="js/vendor/vSite/angular.min.js"></script>
        <script src="js/vendor/vSite/Chart.min.js"></script>
        <script src="js/vendor/vSite/angular-chart.js"></script>
        <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    </head>
    
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
        	<div id="title">
        		<h1>
        			Dados de temperatura 
        		</h1>
        	</div>
        </header>
        <div ng-app="myApp" ng-controller="myCtrl as ctrl" id="div1">     	
 <md-content class="md-padding">
  	<form ng-submit="$event.preventDefault()" name="ctrl.timeForm">
			<div layout-gt-sm="row">
				<md-input-container flex>
          			<label>Início</label>
          			<input name="myStartTime" type="text" ng-model="myStartTime" ng-blur="change()"/>
        		</md-input-container>
        		<md-input-container flex>
          			<label>Fim</label>
          			<input name="myEndTime" type="text" ng-model="myEndTime" ng-blur="change()">
        		</md-input-container>
        		<md-input-container flex>
          			<label>Intervalo</label>
          			<input name="myInterval" type="text" ng-model="myInterval" ng-blur="change()">
        		</md-input-container>
			</div>
    </form>
  </md-content>
			<section id="chart">
				<div class="my-chart" style="width:600px;height: 300px;block">
					<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" 
					chart-dataset-override="datasetOverride" chart-series="series" chart-options="options" chart-click="onClick"> 
					</canvas>
				</div>
			</section>
		</div>
		
		<footer>
			<div id="note">
				<p>
					<!--Desenvolvido com PI Web API, AngularJS, HTML5 e Boilerplate-->
				</p>
			</div>
		</footer>
		
        <script src="js/vendor/jquery-3.1.0.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
		<script src="js/main.js"></script>
		
    </body>
</html>
